@keyframes bodyIn {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #AAAAAA;
  }
}

body {
  animation: 1.5s bodyIn;
  background-color: #AAAAAA;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.bg-about-this-place {
  background-image: url('res/index_backgrounds/about_this_place.jpg');
}

.bg-music {
  background-image: url('res/index_backgrounds/music.jpg');
}

.bg-photography {
  background-image: url('res/index_backgrounds/photography.jpg');
}

.bg-black {
  background-color: #000000 !important;
}

@keyframes bgFadeOut {
  0% {
    background-color: #AAAAAA;
  }

  100% {
    background-color: #000000;
  }
}

.bg-fade-out {
  animation: 250ms bgFadeOut;
}

@keyframes bgFadeIn {
  0% {
    background-color: #000000;
  }

  100% {
    background-color: #AAAAAA;
  }
}

.bg-fade-in {
  animation: 250ms bgFadeIn;
}

#main-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-box {
  background-color: #000000CC;
  border: 2px solid white;
  padding: 8px 22px 16px;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
}

.tb-hor {
  display: flex;
  align-items: center;
}

.tb-ver {
  display: flex;
  flex-direction: column;
}

.tb-title {
  color: white;
  font-family: "Montserrat";
  font-size: 36px;
  margin: 4px;
}

.tb-subtitle {
  color: white;
  font-family: "Montserrat";
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.tb-text {
  color: white;
  font-family: "Raleway";
  font-size: 18px;
  margin: 4px;
}

.hidden {
  opacity: 0;
}

@keyframes textBoxIn {
  0% {
    max-width: 0;
    max-height: 10rem;
  }

  100% {
    max-width: 40rem;
    max-height: 40rem;
  }
}

.text-box-in {
  animation: 1.5s textBoxIn;
}

@keyframes titleIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.title-in {
  animation: 1.5s titleIn;
}

.switch-button img {
  filter: invert(0%);
  transition: 500ms;
}

.switch-button:hover img {
  filter: invert(100%);
  transition: 500ms;
}

.switch-button {
  aspect-ratio: 1 / 1;
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  margin: 8px;
  transition: 600ms;
  cursor: pointer;
}

.switch-button:hover {
  background-color: black;
}

@keyframes switchButtonIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.switch-button-in {
  animation: 1s switchButtonIn;
}

@keyframes switchButtonUp {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.switch-button-up {
  animation: 1s switchButtonUp;
  transform: rotate(180deg);
}

@keyframes switchButtonDown {
  0% {
    transform: rotate(-180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.switch-button-down {
  animation: 1s switchButtonDown;
}

.nvis {
  width: 0;
  height: 0;
  visibility: collapse !important;
}

@keyframes textSwitchAnim {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opcaity: 1;
  }
}

.textSwitchAnim {
  animation: 500ms textSwitchAnim;
}

@media (orientation: portrait) {
  .text-box {
    width: 100%;
    max-width: 100% !important;
  }

  .tb-title {
    font-size: 80px;
  }

  .tb-subtitle {
    font-size: 50px;
  }

  .tb-text {
    font-size: 42px;
  }

  .switch-button img {
    width: 60px;
  }

  #tb-a-title-container img {
    width: 360px;
  }
}
